/* COLOR
    https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8 */
    /* 
    #0e210e
    #1E5128
    #4E9F3D
    #D8E9A8 
    */

    .nav__menu--hide {
        display: none;
    }

    .nav__menu--show {
        display: block;
    }

/* ------------------------------------------------------------- */
/* MEDIA QUERIES */
    /* Navbar with icon */
@media (min-width: 961px) {
    .navbar__mobile--changeDisplay { 
        display: none;
    }
    .navbar__smallScreen--changeDisplay{
        display: none;
    }
    .navbar__largeScreen--changeDisplay {
        display: inline-block !important;
    }

    .eventPicture {
        display: block !important;
    }
}



    /* Navbar without icon */
@media (min-width: 720px) and (max-width: 960px) {
    .navbar__mobile--changeDisplay {
        display: none;
    }
    .navbar__smallScreen--changeDisplay {
        display: inline-block !important;
    }
    .navbar__largeScreen--changeDisplay {
        display: none;
    }
    .div__p--color--size {
        font-size: 40px !important;
    }
}



/* Show contact details */
@media (min-width: 576px) {
    .footerSmallScreen {
        display: inline-block !important;
    }

    div .div__p--color--size {
        font-size: 35px;
    }
}

/* END MEDIA QUERIES */
/* ------------------------------------------------------------- */



/* ------------------------------------------------------------- */
/* START WHOLE SITE */

.footer__modal--color {
    color: #0e210e;
}

.main__background--color {
    background-color: #1E5128;
    color: #D8E9A8;
}
.btn {
    background-color: #D8E9A8;
    border: 0;
}

.btn:hover{
    background-color: #1E5128;
    color: #D8E9A8;
}

.btn:active{
    background-color: #D8E9A8 !important;
}
/* Passer au dessus du :active de bootstrap */

.btn:focus {
    background-color: #D8E9A8;
}

/* correction du probleme de .row */
.row {
    margin: -0.1px;
} 

footer button {
    border: none;
    background: none;
    padding: 0px;
    color: #D8E9A8;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}
/* END WHOLE SITE */
/* ------------------------------------------------------------- */





/* ------------------------------------------------------------- */
/* START HEADER */


header {
    background-color: #0e210e;
    color: #D8E9A8;
    height: 90px;
}

.header__logo--size, .footer__logo--size {
    border-radius: 100%;
    width: 80px;
}

/* END HEADER */
/* ------------------------------------------------------------- */





/* ------------------------------------------------------------- */
/* START MAIN */
.home__background--image {
    background-image: url(/image/forestLandingPage.jpeg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.project__background--image {
    background-image: url(image/forestProjectPage.webp);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}


h2 {
    color: #D8E9A8;
    font-size: 25px;
    padding-top: 20vh; 
}

blockquote {
    font-style: italic;
}

.div__p--color--size {
    color: #D8E9A8;
    font-size: 25px;
}

/* END MAIN */
/* ------------------------------------------------------------- */





/* ------------------------------------------------------------- */
/* START FOOTER */

footer {
    background-color: #0e210e;
    color: #D8E9A8;
    font-size: 12px;
}

footer .logo {
    width: 60px;
}

.footer__copyright--size {
    font-size: 10px;
}

.footer__privateData--size {
    font-size: 10px;
}

footer form :nth-child(6) :first-child{
    width: 70px;
    height: 30px;
    font-size: 10px;
}

/* END FOOTER */
