/* link color 
    https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8 */
    /* #0e210e
    #1E5128
    #4E9F3D
    #D8E9A8 */

/* START WHOLE SITE */
@media (min-width: 960px) {
    body {
        background-color: red ;
    }
    .navMenuSmallScreen {
        display: none;
    }
    .navMenuLargeScreen {
        display: inline-block !important;
    }
}

.navMenuLargeScreen {
    display: none;
}

main {
    height: 1000px;
}

.btn {
    background-color: #D8E9A8;
    border: 0;
}

.btn:hover{
    background-color: #1E5128;
}

.btn:active{
    background-color: #D8E9A8 !important;
}
/* Passer au dessus du :active de bootstrap */

.btn:focus {
    background-color: #D8E9A8;
}

/* END WHOLE SITE */


/* ------------------------------------------------------------- */


/* START HEADER */
.header, .footer {
    background-color: #0e210e;
    color: #D8E9A8;
    height: 90px;
}

.logo {
    border-radius: 100%;
    width: 80px;
}

/* END HEADER */


/* ------------------------------------------------------------- */


/* START MAIN */

/* END MAIN */

/* ------------------------------------------------------------- */


/* START FOOTER */

/* END FOOTER */