/* COLOR
    https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8 */
    /* #0e210e
    #1E5128
    #4E9F3D
    #D8E9A8 */

    .hidden {
        display: none;
    }

/* ------------------------------------------------------------- */
/* MEDIA QUERIES */
    /* Navbar with icon */
@media (min-width: 961px) {
    .navBarMobileFirst {
        display: none;
    }
    .navBarSmallScreen{
        display: none;
    }
    .navBarLargeScreen {
        display: inline-block !important;
    }
}



    /* Navbar without icon */
@media (min-width: 720px) and (max-width: 960px) {
    .navBarMobileFirst {
        display: none;
    }
    .navBarSmallScreen {
        display: inline-block !important;
    }
    .navBarLargeScreen {
        display: none;
    }
}



/* Show contact details */
@media (min-width: 576px) {
    .footerSmallScreen {
        display: inline-block !important;
    }
}

/* END MEDIA QUERIES */
/* ------------------------------------------------------------- */



/* ------------------------------------------------------------- */
/* START WHOLE SITE */

.btn {
    background-color: #D8E9A8;
    border: 0;
}

.btn:hover{
    background-color: #1E5128;
    color: #D8E9A8;
}

.btn:active{
    background-color: #D8E9A8 !important;
}
/* Passer au dessus du :active de bootstrap */

.btn:focus {
    background-color: #D8E9A8;
}

/* correction du probleme de .row */
.row {
    margin: -0.1px;
} 

footer button {
    border: none;
    background: none;
    padding: 0px;
    color: #D8E9A8;
}

/* END WHOLE SITE */
/* ------------------------------------------------------------- */





/* ------------------------------------------------------------- */
/* START HEADER */


.header {
    background-color: #0e210e;
    color: #D8E9A8;
    height: 90px;
}

.logo {
    border-radius: 100%;
    width: 80px;
}

/* END HEADER */
/* ------------------------------------------------------------- */





/* ------------------------------------------------------------- */
/* START MAIN */
.landingPage {
    background-image: url(/image/forestLandingPage.jpeg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

h2 {
    color: #D8E9A8;
    font-size: 25px;
    padding-top: 20vh; 
}

aside p, ul {
    font-weight: 600;
}

li {
    font-weight: 400;
}

quote {
    font-style: italic;
}
/* END MAIN */
/* ------------------------------------------------------------- */





/* ------------------------------------------------------------- */
/* START FOOTER */

.footer {
    background-color: #0e210e;
    color: #D8E9A8;
    font-size: 12px;
}

.footer .logo {
    width: 60px;
}

.copyright {
    font-size: 10px;
}

.modalPrivateData {
    font-size: 10px;
}
/* END FOOTER */


